
//  e.g     all     100ms  ease
.transition(@which, @time, @effect) {
  -webkit-transition: @time @which @effect;
     -moz-transition: @time @which @effect;
      -ms-transition: @time @which @effect;
       -o-transition: @time @which @effect;
          transition: @time @which @effect;
}

//  e.g     0px          2px        4px        10px      #000
.box-shadow(@horizontal, @vertical, @blur, @spread, @color) {
  -webkit-box-shadow: @horizontal @vertical @blur @spread @color;
     -moz-box-shadow: @horizontal @vertical @blur @spread @color;
      -ms-box-shadow: @horizontal @vertical @blur @spread @color;
          box-shadow: @horizontal @vertical @blur @spread @color;
}
