.btns(@bg-color, @color) {
  background-color: @bg-color;
  color: @color;
  border-radius: 5px;
  opacity: 0.9;
  margin-top: -2rem;
  padding: 1rem 3rem;
  background-color: @dark-alt;
  transition: 0.2s all ease-in-out;
  cursor: pointer;

  &:hover {
  opacity: 0.6;
  }
}

