.why{
    padding:80px;
    display: flex;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #35283A;
}
.body{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
        h2{
        font-size: 50px;
        padding: 20px;

    }
    .easier{
        background-color: #F1F1F1;
        padding: 10px 50px;
    }
    .faster{
        color: white;
        background-color: #35283A;
        padding: 100px 50px;
        clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
        }
    .smarter{
        background-color: #F1F1F1;
        padding: 10px 50px;

    }
}
