
#page-about {
  .title-box {
    background-color: @dark-alt;
    
    @media (max-width: 950px) {
      height: 250px;
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;

  h2 {
    font-size: 50px;
    padding: 20px;
  }

  .easier{
    padding: 10px 50px;
    background-color: #F1F1F1;
  }

  .faster{
    color: white;
    background-color: #35283A;
    padding: 100px 50px;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  }

  .smarter {
    padding: 10px 50px;
    background-color: #F1F1F1;
  }

}
