.main-content {
    background-color: @dark-shades;
    height: 55vh;
    min-height: 400px;
    .flex-box(row, center, flex-start);

    .title {
        color: @text-white;
        font-size: 6rem;
        letter-spacing: 3px;
        margin-top: 15vh;

        @media (max-height: 725px) {
          margin-top: 100px;
        }
    }
}

.btn-group {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5rem;

    .btn {
        .button(@text-white, @dark-shades);
    }

}
.bottom {
    display: block;
    text-align: center;
    height: 30vh;

    .learn-more {
        font-size: 2.5rem;
        margin-top: 8rem;
        margin-bottom: 4.5rem;
        text-decoration: underline;
    }

    .about-btn {
        font-size: 1.5rem;
        text-decoration: none;
        .button(@text-white, @dark-shades);
    }
}
