
// color acheme
@main-color:  #6E80D2;  // bright blue
@dark-shades: #35283A;  // darker blue   (blackcurrant)
@dark-alt:    #8786A4;  // dark-ish blue (manatee)

@text-black: #222;
@text-white: #fff;
@text-dark:  #35283A;


// Nav-bar
@navbar-height: 65px;


// Media for phones
@tablet: ~'only screen and (max-width:800px)';
@phone: ~'only screen and (max-width:650px)';
